pkgbase = awesome-copycats-manjaro
	pkgdesc = A forked and enhanced version of the original Awesome WM Copycats repository.
	pkgver = r1062.ee2a080
	pkgrel = 1
	url = https://github.com/megvadulthangya/awesome-copycats-manjaro
	arch = any
	license = GPL3
	makedepends = git
	source = git+https://github.com/megvadulthangya/awesome-copycats-manjaro.git#branch=nord
	sha256sums = SKIP

pkgname = awesome-copycats-manjaro
