pkgbase = nvidia-driver-assistant
	pkgdesc = NVIDIA driver assistant with user-protection overrides for legacy GPU support and architecture-aware driver selection
	pkgver = 2026.01.05.1
	pkgrel = 2
	url = https://github.com/megvadulthangya/nvidia-driver-assistant
	arch = any
	license = MIT AND LicenseRef-custom
	makedepends = git
	makedepends = wget
	makedepends = binutils
	makedepends = patch
	depends = python
	source = git+https://github.com/megvadulthangya/nvidia-driver-assistant.git#branch=easteregg
	sha256sums = SKIP

pkgname = nvidia-driver-assistant
