[Unit]
Description=Kohya_ss GUI (CUDA 12.8 backend) — ONLY for NVIDIA GPUs with Compute Capability ≥7.5 (Turing/Ampere/Ada/Hopper/Blackwell)
After=network.target
StartLimitIntervalSec=120
StartLimitBurst=15

[Service]
Type=forking
User=diffusion
Group=diffusion
WorkingDirectory=/opt/kohya_ss
#Environment=HOME=/opt/kohya_ss
Environment=BYOBU_PREFIX=/usr
Environment=TERM=xterm-256color
ExecStart=/usr/bin/byobu new-session -d -s kohya_ss '/opt/kohya_ss/gui.sh --listen 0.0.0.0 --server_port 7861 --headless'
ExecStop=-/usr/bin/byobu kill-session -t kohya_ss
Restart=always
UMask=007

[Install]
WantedBy=multi-user.target
