[Unit]
Description=Stable Diffusion WebUI Forge (python310)
After=network.target

[Service]
Type=simple
User=sdwebui-forge
Group=sdwebui-forge
WorkingDirectory=/opt/stable-diffusion-webui-forge

Environment=PYTHONUNBUFFERED=1

ExecStart=/opt/stable-diffusion-webui-forge/venv/bin/python /opt/stable-diffusion-webui-forge/launch.py --listen --no-half

Restart=always
StartLimitIntervalSec=120
StartLimitBurst=15
UMask=007

[Install]
WantedBy=multi-user.target
