name: Manjaro Repo Smart Builder

on:
  push:
    branches: [ "main" ]
#  schedule:
#    - cron: '0 4 * * *' # Hajnal 4-kor minden nap ránéz, hogy van-e frissítés
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts

      - name: Prepare Environment
        run: |
          pacman -Syu --noconfirm --needed git rsync openssh base-devel jq
          useradd -m builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers
          chown -R builder:builder .

      - name: Run Smart Build Script
        env:
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_HOST: ${{ secrets.VPS_HOST }}
        run: |
          chmod +x ./ci-smart-build.sh
          su builder -c ./ci-smart-build.sh
